<div class="add-product-form">
  <h1>Add new product</h1>
  <app-toast [errorCode]="errorCode" [duration]="3000"></app-toast>
  <form #form="ngForm" (ngSubmit)="createProduct(form)">
    <label for="productName">Product name:</label>
    <input
      type="text"
      id="productName"
      name="productName"
      placeholder="Enter name"
      ngModel
      #inputProductName="ngModel"
      minlength="5"
      required
    />
    @if (inputProductName.touched && inputProductName.errors?.['required']) {
    <p class="error">Product name is required!</p>
    } @if (inputProductName.touched && inputProductName.errors?.['minlength']) {
    <p class="error">Product name must be at least 5 characters!</p>
    }

    <label for="productDescription">Product description:</label>
    <textarea
      id="productDescription"
      name="productDescription"
      placeholder="Enter description"
      rows="8"
      ngModel
      #inputProductDescription="ngModel"
      minlength="10"
      required
    ></textarea>
    @if (inputProductDescription.touched &&
    inputProductDescription.errors?.['required']) {
    <p class="error">Product name is required!</p>
    } @if (inputProductDescription.touched &&
    inputProductDescription.errors?.['minlength']) {
    <p class="error">Product name must be at least 10 characters!</p>
    }

    <label for="productPrice">Price (lv.):</label>
    <input
      type="number"
      id="productPrice"
      name="productPrice"
      min="0.01"
      step="0.01"
      placeholder="Enter price"
      ngModel
      #inputProductPrice="ngModel"
      required
    />
    @if (inputProductPrice.touched && inputProductPrice.errors?.['required']) {
    <p class="error">Product price is required!</p>
    }

    <label for="productImage">Product image (URL)</label>
    <input
      type="url"
      id="productImage"
      name="productImage"
      placeholder="Enter image url for this product"
      ngModel
      #imageUrlInput="ngModel"
      required
    />
    @if (imageUrlInput.value) {
    <div class="product-image-preview">
      <img
        src="{{ imageUrlInput.value || 'https://via.placeholder.com/400' }}"
        alt="Product image"
        style="width: 400px; height: 400px; object-fit: contain"
      />
    </div>
    } @if (imageUrlInput.touched && imageUrlInput.errors?.['required']) {
    <p class="error">Product image URL is required!</p>
    }

    <button class="submit-btn">Add product</button>
  </form>
</div>
