<div class="register-container">
  <h2>Регистрация</h2>
  <form action="register.html" method="POST">
    <input
      type="text"
      class="input-field"
      placeholder="Потребителско име"
      required
    />
    <input type="email" class="input-field" placeholder="Имейл" required />
    <input type="password" class="input-field" placeholder="Парола" required />
    <input
      type="password"
      class="input-field"
      placeholder="Повтори парола"
      required
    />
    <button type="submit" class="register-btn">Регистрация</button>
  </form>
  <div class="login-link">
    <p>Вече имате акаунт? <a routerLink="/login">Влезте тук</a></p>
  </div>
</div>
