<div class="register-container">
  <h2>Register</h2>
  <app-toast [errorCode]="errorCode" [duration]="3000"></app-toast>
  <form class="register" #form="ngForm" (ngSubmit)="register(form)">
    <input
      type="text"
      name="username"
      class="input-field"
      placeholder="Username"
      ngModel
      #inputUsername="ngModel"
      required
    />

    @if (inputUsername.touched && inputUsername.errors?.['required']) {
    <p class="error">Username is required!</p>
    }

    <input
      type="email"
      name="email"
      class="input-field"
      placeholder="Email"
      ngModel
      #inputEmail="ngModel"
      required
      appEmail
    />

    @if (inputEmail.touched) { @if (inputEmail.errors?.['emailValidator']) {
    <p class="error">Please, enter a valid email address!</p>
    } @if (inputEmail.errors?.['required']) {
    <p class="error">Email address is required!</p>
    } }

    <input
      type="password"
      name="password"
      id="password"
      class="input-field"
      placeholder="Password"
      ngModel
      #inputPassword="ngModel"
      minlength="6"
      required
    />

    @if (inputPassword.touched) {
    <!-- -->
    @if (inputPassword.errors?.['required']) {
    <p class="error">Password is required!</p>
    }
    <!-- -->
    @if (inputPassword.errors?.['minlength']) {
    <p class="error">Password must contain at least 6 characters!</p>
    }
    <!-- -->
    }

    <input
      type="password"
      name="rePassword"
      id="rePassword"
      class="input-field"
      placeholder="Confirm password"
      ngModel
      #inputRepeatPassword="ngModel"
      minlength="6"
      required
    />

    @if (inputRepeatPassword.touched) {
    <!-- -->
    @if (inputRepeatPassword.errors?.['required'] || inputPassword.value !==
    inputRepeatPassword.value) {
    <p class="error">Confirm password does not match password!</p>
    }
    <!-- -->
    }

    <button type="submit" class="register-btn">Register</button>
  </form>
  <div class="login-link">
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>
