<section class="profile-container">
  <h1>Edit profile</h1>
  <app-toast [errorCode]="errorCode" [duration]="3000"></app-toast>
  <form #form="ngForm" class="profile-form" (ngSubmit)="updateProfile(form)">
    <div class="profile-img-container">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter username"
        [(ngModel)]="user.username"
        #inputUsername="ngModel"
        required
      />
      @if(inputUsername.touched && inputUsername.errors?.['required']) {
      <p class="error">Username is required!</p>
      }
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter email"
        [(ngModel)]="user.email"
        #inputEmail="ngModel"
        readonly
        required
        appEmail
      />
      @if (inputEmail.touched) { @if (inputEmail.errors?.['emailValidator']) {
      <p class="error">Please, enter a valid email address!</p>
      } @if (inputEmail.errors?.['required']) {
      <p class="error">Email address is required!</p>
      } }
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter password"
        [(ngModel)]="user.password"
        minlength="6"
        #inputPassword="ngModel"
      />

      @if (inputPassword.touched) {
      <!-- -->
      @if (inputPassword.errors?.['required']) {
      <p class="error">Password is required!</p>
      }
      <!-- -->
      @if (inputPassword.errors?.['minlength']) {
      <p class="error">Password must contain at least 6 characters!</p>
      }
      <!-- -->
      }
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm password"
        [(ngModel)]="user.confirmPassword"
        #inputRepeatPassword="ngModel"
      />

      <!-- -->
      @if (inputRepeatPassword.touched) {
      <!-- -->
      @if (inputPassword.value !== inputRepeatPassword.value) {
      <p class="error">Confirm password does not match password!</p>
      }
      <!-- -->
      }
      <!-- -->
    </div>

    <button type="submit" class="update-btn">Update profile</button>
  </form>
</section>
