.profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 120px auto;
}

h1 {
  text-align: center;
  color: #333;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

input[type="file"] {
  padding: 5px;
}

.profile-img-container {
  border: 2px solid black;
  background-color: rgb(223, 217, 217);
  border-radius: 50%;
  display: flex;
  width: 45%;
  margin: 20px auto;
}

.fa-user {
  margin: 50px auto;
  font-size: 50px;
}

.update-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  transition: background-color 0.3s;
}

.update-btn:hover {
  background-color: #0056b3;
}
