<header>
  <div class="logo">
    <a routerLink="home"><span>SHOP</span>IFY</a>
  </div>
  <nav>
    <ul>
      <a class="nav-link" routerLink="/catalog"><li>Catalog</li></a>
      @if (!isLoggedIn) {
      <a class="nav-link" routerLink="/login"><li>Login</li></a>
      <a class="nav-link" routerLink="/register"><li>Register</li></a>
      } @if (isLoggedIn) {
      <a class="nav-link" routerLink="/add-product"><li>Add product</li></a>
      <a class="nav-link" routerLink="/profile"><li>Profile</li></a>
      <a class="nav-link" (click)="logout()"><li>Logout</li></a>
      <a routerLink="/cart">
        <div class="shopping-cart">
          <i class="fa-solid fa-cart-shopping"></i>
          <p>2</p>
        </div>
      </a>
      }
    </ul>
  </nav>
</header>
