header {
  padding: 10px;
  height: 77px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.logo {
  position: absolute;
  left: 15px;
  font-size: 1.8rem;
}

.logo span {
  font-weight: 600;
  color: #007bff;
}

ul {
  list-style: none;
  display: flex;
  gap: 35px;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
}

a.nav-link {
  color: white;
  font-weight: 600;
}

a.nav-link:hover {
  color: #007bff;
  transform: scale(1.1);
  cursor: pointer;
}

.shopping-cart {
  display: flex;
  align-items: center;
}

.shopping-cart p {
  margin-left: 10px;
  padding: 2px 8px;
  background-color: #007bff;
  border-radius: 50%;
  color: white;
}

.cart-link {
  align-self: center;
  color: #007bff;
}

.cart-link:hover {
  color: white;

  transform: scale(1.1);
}
