<section class="catalog-container">
  @for (product of this.products; track $index) {
  <div class="product-card">
    @if(product.isOwn) {
    <a class="edit" (click)="editProduct(product.productId)"
      ><i class="fa-solid fa-pen-to-square"></i
    ></a>
    <a class="delete" (click)="deleteProduct(product.productId)"
      ><i class="fa-regular fa-trash-can"></i
    ></a>
    }
    <img [src]="product.imageUrl" alt="Product image" class="product-image" />
    <div>
      <a [routerLink]="product.productId"
        ><h3 class="product-title">{{ product.name }}</h3></a
      >
      <p class="product-price">Price: {{ product.price }} lv.</p>
      <button class="add-to-cart-btn" (click)="addToCart(product.productId)">
        Add to cart
      </button>
    </div>
  </div>
  }
</section>
