.catalog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
  margin: 80px 0;
}

.product-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  color: #0161c9;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

h3 {
  text-decoration: none;
  font-size: 1.2rem;
  color: #0161c9 !important;
  text-decoration: none;
  margin: 1rem 0;
}

h3:hover {
  color: #007bff;
  transform: scale(1.1);
}

.add-to-cart-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.delete {
  position: absolute;
  font-size: 25px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.delete:hover {
  color: red;
  transform: scale(1.1);
}

.edit {
  position: absolute;
  font-size: 25px;
  right: 35px;
  top: 5px;
  cursor: pointer;
}

.edit:hover {
  color: #007bff;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 100%;
  }
}
