/* You can add global styles to this file, and also import other style files */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p.error {
  text-align: left;
  font-size: 0.9rem;
  border-radius: 0.5em;
  color: red;
  padding-top: 0;
  font-weight: bold;
}
