<section class="container">
  <section class="welcome-section">
    <h1>Welcome to <span>SHOP</span>IFY</h1>
    <p>Check out our latest items below!</p>
  </section>

  <section class="featured-products">
    @for (product of products; track $index) {
    <div class="product">
      <div>
        <img [src]="product.imageUrl" alt="Product" />
        <a [routerLink]="['/catalog', product.productId]"
          ><h3>{{ product.name }}</h3></a
        >
      </div>
      <div>
        <p>{{ product.description | limitEllipsis : 100 }}</p>
        <p class="price">{{ product.price }} lv.</p>
        <button (click)="addToCart(product.productId)">Add to cart</button>
      </div>
    </div>
    }
  </section>
</section>
