<section class="welcome-section">
  <h1>Welcome to <span>SHOP</span>IFY</h1>
</section>

<!-- Popular products -->
<section class="featured-products">
  <div class="product">
    <img src="https://via.placeholder.com/250x200" alt="Продукт 1" />
    <h3>Product 1</h3>
    <p>Product with high quality for all occasions.</p>
    <p class="price">19.99 lv.</p>
    <button>Add to cart</button>
  </div>
  <div class="product">
    <img src="https://via.placeholder.com/250x200" alt="Продукт 2" />
    <h3>Product 2</h3>
    <p>Stylish and convenient for everyday use.</p>
    <p class="price">29.99 lv.</p>
    <button>Add to cart</button>
  </div>
  <div class="product">
    <img src="https://via.placeholder.com/250x200" alt="Продукт 3" />
    <h3>Product 3</h3>
    <p>Perfect for special occasions</p>
    <p class="price">39.99 lv.</p>
    <button>Add to cart</button>
  </div>
</section>
